#daemon configuration
telnet_port 4444
gdb_port 3333

#interface
source [find interface/jlink.cfg]
#source [find interface/ftdi/olimex-jtag-tiny.cfg]
adapter_khz 14000
#use combined on interfaces or targets that can't set TRST/SRST separately
reset_config trst_and_srst srst_pulls_trst

set _CHIPNAME mmsp2

transport select jtag

jtag newtap $_CHIPNAME cpu -irlen 4 -ircapture 0x01 -irmask 0xf

set _TARGETNAME $_CHIPNAME.cpu

target create $_TARGETNAME arm920t -endian little -chain-position $_TARGETNAME

$_TARGETNAME configure -work-area-phys 0x0 -work-area-size 0x200000 -work-area-backup 0

init
reset run
sleep 100
halt